<div>

    <body>
        <h1 style="text-align: center"> Login </h1>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <form name="loginForm" id="login" method="post" class="box login content" novalidate>
                    <div class="form-group" show-errors>
                        <label for="username_input">Username</label>
                        <input type="text" class="form-control" name="username" id="username_input" placeholder="Username" ng-model="username" required>
                    </div>
                    <div class="form-group" show-errors>
                        <label for="password_input">Password</label>
                        <input type="password" class="form-control" name="password" id="password_input" placeholder="Password" ng-model="password" required>
                    </div>
                    <div ng-controller="LoginController">
                        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                        <button class="btn btn-default" ng-click="loginButton()">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</div>
<form ng-submit="submitProperty()" method="post" class="box signup content">
    <fieldset>
        <h3>Add a property</h3>
        <paper-input-decorator label='Address' floatingLabel>
            <input type="text" ng-model="address">
        </paper-input-decorator>
        <paper-input-decorator label='City' floatingLabel>
            <input type="text" ng-model="city">
        </paper-input-decorator>
        <paper-input-decorator label='State' floatingLabel>
            <input type="text" ng-model="state">
        </paper-input-decorator>
        <paper-input-decorator label='Zip Code' floatingLabel>
            <input type="text" ng-model="zipcode">
        </paper-input-decorator>
        <paper-dropdown-menu label="Property Type">
            <paper-dropdown class="dropdown core-transition core-closed">
                <core-menu class="menu" ng-model="housingType" valueattr="label">
                    <paper-item class="core-selected" active label="house">House</paper-item>
                    <paper-item class="core-selected" active label="condo">Condo</paper-item>
                    <paper-item class="core-selected" active label="townhome">Townhome</paper-item>
                    <paper-item class="core-selected" active label="apartment">Apartment</paper-item>
                </core-menu>
            </paper-dropdown>
        </paper-dropdown-menu>
        <paper-input-decorator label='Available?' floatingLabel>
            <input type="text" ng-model="availability">
        </paper-input-decorator>
        <paper-input-decorator label='Pricing' floatingLabel>
            <input type="text" ng-model="price">
        </paper-input-decorator>
        <div>
            Number of Bedrooms: {{bedrooms}}
            <paper-slider ng-model="bedrooms" min="1" max="12" pin></paper-slider>
        </div>
        <div>
            Number of Bathrooms: {{bathrooms}}
            <paper-slider ng-model="bathrooms" min="1" max="12" pin></paper-slider>
        </div>
        <h4>Pet Policy</h4>
        <br>
        <core-toolbar style="background:transparent;
            -webkit-box-shadow:none;
            -moz-box-shadow:none;
            box-shadow:none;">
            <core-label horizontal layout center>
                <paper-checkbox for ng-model="catsOk"></paper-checkbox>
                <div>Cats</div>
            </core-label>
            <core-label horizontal layout center>
                <paper-checkbox for ng-model="dogsOk"></paper-checkbox>
                <div>Dogs</div>
            </core-label>
        </core-toolbar>
        <div>
            <h5>Date of last renovation</h5> Month:
            <paper-dropdown-menu label="Select a month">
                <paper-dropdown class="dropdown core-transition core-closed">
                    <core-menu class="menu" ng-model="lastRenovationDate.month" valueattr="label">
                        <paper-item class="core-selected" active label="0">January</paper-item>
                        <paper-item class="core-selected" active label="1">February</paper-item>
                        <paper-item class="core-selected" active label="2">March</paper-item>
                        <paper-item class="core-selected" active label="3">April</paper-item>
                        <paper-item class="core-selected" active label="4">May</paper-item>
                        <paper-item class="core-selected" active label="5">June</paper-item>
                        <paper-item class="core-selected" active label="6">July</paper-item>
                        <paper-item class="core-selected" active label="7">August</paper-item>
                        <paper-item class="core-selected" active label="8">September</paper-item>
                        <paper-item class="core-selected" active label="9">October</paper-item>
                        <paper-item class="core-selected" active label="10">November</paper-item>
                        <paper-item class="core-selected" active label="11">December</paper-item>
                    </core-menu>
                </paper-dropdown>
            </paper-dropdown-menu>
            Day: {{lastRenovationDate.day}}
            <paper-slider ng-model="lastRenovationDate.day" min="1" max="31" pin></paper-slider>
            Year: {{lastRenovationDate.year}}
            <paper-slider ng-model="lastRenovationDate.year" min="1950" max="2015" pin></paper-slider>
        </div>
    </fieldset>
    <footer>
        <button type="submit" is="paper-submit">Add property</button>
    </footer>
</form>
