<div class="container col-md-6 col-sm-offset-3">
    <br>
    <br>
    <h3><center>New Property</center></h3>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="address" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="address" placeholder="Address" ng-model="address">
            </div>
        </div>
        <div class="form-group">
            <label for="inputKey" class="col-md-2 control-label">City</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="inputKey" placeholder="City" ng-model="city">
            </div>
            <label for="inputValue" class="col-md-1 control-label">State</label>
            <div class="col-md-2">
                <select class="form-control">
                    <option ng-model="state">GA</option>
                </select>
            </div>
            <label for="inputValue" class="col-md-1 control-label">Zipcode</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="inputValue" placeholder="Zipcode" ng-model="zipcode">
            </div>
        </div>
        <div class="form-group">
            <label for="inputKey" class="col-md-2 control-label">Home Type</label>
            <div class="col-md-4" ng-model="housingType">
                <select class="form-control">
                    <option label="house">House</option>
                    <option label="condo">Condo</option>
                    <option label="apartment">Apartment</option>
                    <option label="townhome">Townhouse</option>
                </select>
            </div>
            <label for="inputValue" class="col-md-1 control-label">Pets</label>
            <div class="col-md-2 ">
                <label>
                    <input type="checkbox" ng-model="catsOk"> Cats
                </label>
            </div>
            <div class="col-md-2 ">
                <label>
                    <input type="checkbox" ng-model="dogsOk"> Dogs
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="inputKey" class="col-md-2 control-label">Price</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="inputKey" placeholder="Price" ng-model="price">
            </div>
            <label for="inputKey" class="col-md-2 control-label">Utilites</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="inputKey" placeholder="e.g. 80-100" ng-model="utilities">
            </div>
        </div>
        <div class="form-group">
            <label for="inputKey" class="col-md-2 control-label">Bedrooms</label>
            <div class="col-md-4">
                <select class="form-control">
                    <option ng-model="bedrooms">1</option>
                    <option ng-model="bedrooms">2</option>
                    <option ng-model="bedrooms">3</option>
                    <option ng-model="bedrooms">4</option>
                    <option ng-model="bedrooms">5</option>
                    <option ng-model="bedrooms">6</option>
                    <option ng-model="bedrooms">7</option>
                    <option ng-model="bedrooms">8</option>
                </select>
            </div>
            <label for="inputKey" class="col-md-2 control-label">Bathrooms</label>
            <div class="col-md-4">
                <select class="form-control">
                    <option ng-model="bedrooms">1</option>
                    <option ng-model="bedrooms">2</option>
                    <option ng-model="bedrooms">3</option>
                    <option ng-model="bedrooms">4</option>
                    <option ng-model="bedrooms">5</option>
                    <option ng-model="bedrooms">6</option>
                    <option ng-model="bedrooms">7</option>
                    <option ng-model="bedrooms">8</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputKey" class="col-md-2 control-label">Last Renovated</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="inputKey" placeholder="DATEPICKER HERE" ng-model="add ">
            </div>
        </div>
        <div class="form-group">
                <button class="btn btn-default col-md-4 col-sm-offset-5" ng-click="submitProperty()">Add New Property</button>
        </div>
</div>
