<div class="content">
	<core-drawer-panel>
		<core-header-panel drawer>
			<!--landlord statistics go here-->
			<core-toolbar main>
      			<span>{{username}} Info</span>
    		</core-toolbar>
    		<core-menu>
    			<div>Profile picture here{{image}}</div>
				<paper-item>
					Rating: {{rating}}
				</paper-item>
			</core-menu>
		</core-header-panel>
		<core-header-panel class="content" main>
			<header>
				<h3>Owned Properties</h3>
			</header>
			<paper-button ng-click="addProperty()" raised>Add a Property</paper-button>
			<div ui-view></div>
			<div ng-repeat="property in properties" class="box allMargins5 content" horizontal layout>
				<div class="rightMargin5 content">
					Property Image Here:{{property.imgUrl}}
				</div>
				<paper-item class="leftmargin5 content" flex>
					Address: {{property.address}}, {{property.city}}, {{property.state}}, {{property.zipcode}}<br>
					Price: ${{property.price}}
				</paper-item>
			</div>
		</core-header-panel>
	</core-drawer-panel>
</div>
	