<form ng-submit="submitProperty()" method="post" class="box signup content">
	<fieldset>
		<h3>Add a property</h3>
        <paper-input-decorator label='Number of Bedrooms' floatingLabel>
        	<input type=\"text" ng-model="bedrooms">
        </paper-input-decorator>
        
        <paper-dropdown-menu label="Number of Bedrooms">
            <paper-dropdown class="dropdown core-transition core-closed">
                <core-menu class="menu" ng-model="bedrooms" valueattr="label">
                    <paper-item class="core-selected" active label="1">1</paper-item>
                    <paper-item class="core-selected" active label="2">2</paper-item>
                </core-menu>
            </paper-dropdown>
        </paper-dropdown-menu>

        <paper-dropdown-menu label="Housing Type">
            <paper-dropdown class="dropdown core-transition core-closed">
                <core-menu class="menu" ng-model="housingType" valueattr="label">
                    <paper-item class="core-selected" active label="house">House</paper-item>
                    <paper-item class="core-selected" active label="condo">Condo</paper-item>
                    <paper-item class="core-selected" active label="townhome">Townhome</paper-item>
                    <paper-item class="core-selected" active label="apartment">Apartment</paper-item>
                </core-menu>
            </paper-dropdown>
        </paper-dropdown-menu>

        <paper-input-decorator label='Address' floatingLabel>
        	<input type="text" ng-model="address">
        </paper-input-decorator>
        <paper-input-decorator label='Availability' floatingLabel>
        	<input type="text" ng-model="availability">
        </paper-input-decorator>
        <paper-input-decorator label='Pricing' floatingLabel>
        	<input type="text" ng-model="price">
        </paper-input-decorator>
        <h4>Pet Policy</h4><br>
        <core-toolbar style=
        	"background:transparent;
        	-webkit-box-shadow:none;
        	-moz-box-shadow:none;
        	box-shadow:none;">
            <core-label horizontal layout center>
            	<paper-checkbox for ng-model="catsOk"></paper-checkbox>
            	<div>Cats</div>
            </core-label>
            <core-label horizontal layout center>
            	<paper-checkbox for ng-model="dogsOk"></paper-checkbox>
            	<div>Dogs</div>
            </core-label>
        </core-toolbar>
    </fieldset>
    <footer>
        <button type="submit" is="paper-submit">Add property</button>
    </footer>
</form>