<div>

    <head>
        <link rel="import" href="../../bower_components/paper-input/paper-input-decorator.html"></link>
    </head>

    <body>
        <h1 style="text-align: center"> Login </h1>
        <form name="loginForm" id="login" ng-submit="loginButton()" method="post" class="box login content" novalidate>
            <fieldset>
                <paper-input-decorator label="Username">
                    <input type="text" name="username_input" ng-model="username">
                    </input>
                </paper-input-decorator>
                </br>
                <paper-input-decorator label="Password">
                    <input name="password_input" type="password" ng-model="password"></input>
                </paper-input-decorator>
            </fieldset>
            </br>
            <label class="alert">{{alert}}</label>
            <footer style="horizontal-align:center">
                <button type="submit" is="paper-submit" db-validator>Login</button>
            </footer>
        </form>
    </body>
</div>