<div>

    <head>
        <link rel="import" href="../../bower_components/paper-input/paper-input-decorator.html"></link>
    </head>

    <body>
        <h1 style="text-align: center"> Login </h1>
        <form name="loginForm" id="login" ng-submit="loginButton()" method="post" class="box login content" novalidate>
            <fieldset>
                <paper-input-decorator label="Username">
                    <input type="text" name="username_input" ng-model="username" ng-minlength="4" ng-minlength="20" required db-validator>
                    </input>
                </paper-input-decorator>
                </br>
                <div ng-if="interacted(loginForm.username_input)" ng-messages="loginForm.username_input.$error" style="color:maroon">
                    <div ng-message="required">You did not enter a field</div>
                    <div ng-message="minlength">Your field is too short</div>
                    <div ng-message="maxlength">Your field is too long</div>
                    <div ng-message="notFound">USER NOT FOUND - IT WORKS</div>
                </div>
                <paper-input-decorator label="Password">
                    <input name="password_input" type="password" ng-model="password" ng-minlength="6" ng-minlength="20" ng-required="true"></input>
                </paper-input-decorator>
                <div ng-messages="loginForm.password_input.$error" style="color:maroon">
                    <div ng-message="required">You did not enter a field</div>
                    <div ng-message="minlength">Your field is too short</div>
                    <div ng-message="maxlength">Your field is too long</div>
                    <div ng-message="notFound">USER NOT FOUND - IT WORKS</div>
                </div>
            </fieldset>
            </br>
            <label class="alert">{{alert}}</label>
            <footer style="horizontal-align:center">
                <button type="submit" is="paper-submit" db-validator>Login</button>
            </footer>
        </form>
    </body>
</div>
