<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CollegiateCribs</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" style="width: 60%" role="search">
                <div class="form-group" style="width: 100%">
                    <input type="text" style="width: 100%" class="form-control" placeholder="Search for Housing" ng-keypress="menuSearchEnter()">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" name="user">{{user.username}}</a></li>
                <li><a href="#" name="signup" ng-click="logoutButton()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="house.jpg" class="img-thumbnail" alt="Generic House Image">
        </div>
        <br>
        <br>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <td>Address {{property.address}}</td>
                </tr>
                <tr>
                    <td>{{property.city}}, {{property.state}}, {{property.zipcode}}</td>
                </tr>
                <tr>
                    <td class=".col-md-6">Bed: {{property.bedrooms}} • Bath: {{property.bathrooms}}</td>
                    <td class=".col-md-6">Price: ${{property.price}} • Utilities: ${{property.utilities}}</td>
                </tr>
                <tr>
                    <td>Housing Type: {{property.housingType}}</td>
                    <td>Length: {{property.length}} months </td>
                </tr>
                <tr>
                    <td>Contact Information: {{user.firstName}} {{user.lastName}}</td>
                    <td>Lease Type: {{property.leaseType}}</td>
                </tr>
                <tr>
                    <td>Pets: {{property.dogsOk}} {{property.catsOk}}</td>
                    <td>Availability: {{property.availablity}}</td>
                </tr>
                <tr>
                    <td>Property Tours: {{property.propertyTours}}</td>
                    <td>Last Renovation Date: {{property.renovationDate}}</td>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <div class="col-md-10">
            <label>Description</label>
            <p>{{property.description}}</p>
        </div>
    </div>
    <div>
    </div>
    <div horizontal layout class="content" style="vertical-align:bottom;">
        <div vertical layout class="allMargins5">
            <!--ratings + option to favorite-->
            <div class="row">
                <div class = "col-xs-6">
                    Rating: {{property.rating}}
                    <br> Add a rating: {{rating}}
                    <br>
                    <input type="number" data-max="5" data-min="1" data-clearable="remove" name="rate" id="rate" ng-model="rating" class="rating" />
                    <br>
                </div>
                <div class="form-group col-xs-6">
                    <button class="btn btn-default col-md-4 col-sm-offset-5" ng-click="addToFavorites()">Add to Favorites</button>
                </div>
            </div>
            <br>
           <div class="form-group">
                <label for="description" class="col-md-2 control-label">Add a Review</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" id="description" placeholder="Press Enter to add your review" ng-model="review"  ng-keypress="enterReview()"></textarea>
                </div>
            </div>
        </div>
        <!--reviews-->
        <div ui-view></div>
    </div>
</div>
