<core-header-panel vertical layout flex>
	<div class="box content">
	<header>
		<h2>(Property Address here) {{property.address}} </h2>
		<core-panel horizontal layout flex class="content">
			<div vertical layout class="allMargins5">
				<!--image of the property-->
				<paper-button raised>Property img</paper-button>
				<div horizontal layout style="overflow:auto;" >
					<!--scrollable picture gallery-->
					<paper-button raised>Img gallery</paper-button>
					{{img}}
				</div>
			</div>
			<!--description of the property-->
			<div flex class="allMargins5">
				<h4>Description</h4>
				<br></br>
				Address: {{property.address}}, {{property.city}},
					{{property.state}}, {{property.zipcode}}  <br/>
				Distance from Campus: {{property.distance}} <br/>
				Price: {{property.price}} <br></br>
				{{property.housingType}} with {{property.bedrooms}} bedrooms, {{property.bathrooms}} bathrooms. <br></br>
				More info: {{property.description}}
			</div>
		</core-panel>
	</header>

	<div horizontal layout class="content" style="vertical-align:bottom;">
		<div vertical layout class="allMargins5">
			<!--ratings + option to favorite-->
			Rating: {{property.rating}} <br>
			Add a rating: {{rating}}
			<paper-slider ng-model="rating" min="1" max="5" pin></paper-slider>
			<paper-button raised ng-click="addToFavorites()">Add to Favorites</paper-button>
			<paper-button raised>Add a review</paper-button>
		</div>
		<!--reviews-->
		<div ui-view></div>
	</div>
</div>
</core-header-panel>