<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">Images here</div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <td>Address {{property.address}}</td>
                </tr>
                <tr>
                    <td>City/State/Zip {{property.city}}, State{{property.state}}, Zipcode{{property.zipcode}}</td>
                </tr>
                <tr>
                    <td class=".col-md-6">Bed: {{property.bedrooms}} • Bath: 5/4{{property.bathrooms}}</td>
                    <td class=".col-md-6">Price: ${{property.price}} • Utilities: ${{property.utilities}}</td>
                </tr>
                <tr>
                    <td>Housing Type: {{property.housingType}}</td>
                    <td>Length: {{property.length}} months </td>
                </tr>
                <tr>
                    <td>Contact Information: {{user.firstName}} {{user.lastName}}</td>
                    <td>Lease Type: {{property.leaseType}} months</td>
                </tr>
                <tr>
                    <td>Pets: {{property.dogsOk}} {{property.catsOk}}</td>
                    <td>Availability: {{property.availablity}}</td>
                </tr>
                <tr>
                    <td>Property Tours: {{property.propertyTours}}</td>
                    <td>Last Renovation Date: {{property.renovationDate}}</td>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <div>
            <label>Description</label>
            <p>{{property.description}}</p>
        </div>
    </div>
    <div>
    
    </div>
    <div horizontal layout class="content" style="vertical-align:bottom;">
        <div vertical layout class="allMargins5">
            <!--ratings + option to favorite-->
            Rating: {{property.rating}}
            <br> Add a rating: {{rating}}
            <paper-slider ng-model="rating" min="1" max="5" pin></paper-slider>
            <paper-button raised ng-click="addToFavorites()">Add to Favorites</paper-button>
            <paper-button raised>Add a review</paper-button>
        </div>
        <!--reviews-->
        <div ui-view></div>
    </div>
</div>
