<div class= "content">
		<core-drawer-panel>
			<core-header-panel drawer>
				<!-- filters go here -->
				<core-toolbar main>
      				<span>Filters</span>
    			</core-toolbar>
    			<core-menu>
    				<paper-input-decorator label="Distance from campus" floatingLabel>
						<input type="text" ng-model="distanceFromCampus" ng-change="change()"></input>
					</paper-input-decorator>
    				<table>
    					<tr>
    						Price Range:
    					</tr>
						<tr>
							<td>
								<paper-input-decorator label="Min Price" floatingLabel>
									<input type="text" ng-model="minPrice" ng-change="change()"></input>
								</paper-input-decorator>
							</td>
							<td>
								<paper-input-decorator label="Max Price" floatingLabel>
									<input type="text" ng-model="maxPrice" ng-change="change()"></input>
								</paper-input-decorator>
							</td>
						</tr>
					</table>

					<paper-dropdown-menu label="Number of Bedrooms">
						<paper-dropdown class="dropdown core-transition core-closed">
							<core-menu class="menu" ng-model="bedrooms" ng-change="change()"valueattr="label">
								<paper-item class="core-selected" active label="1">1</paper-item>
								<paper-item class="core-selected" active label="2">2</paper-item>
							</core-menu>
						</paper-dropdown>
					</paper-dropdown-menu>

        			<paper-dropdown-menu label="Number of Bathrooms">
						<paper-dropdown class="dropdown core-transition core-closed">
							<core-menu class="menu" ng-model="bathrooms" ng-change="change()" valueattr="label">
								<paper-item class="core-selected" active label="1">1</paper-item>
								<paper-item class="core-selected" active label="2">2</paper-item>
							</core-menu>
						</paper-dropdown>
					</paper-dropdown-menu>

					<!--Make this a checkbox thing-->
					<br></br>
					<p> Housing type:</p>
					<table style=
        				"background:transparent;
        				-webkit-box-shadow:none;
        				-moz-box-shadow:none;
        				box-shadow:none;">
        				<tr>
        					<td>
            					<core-label horizontal layout center>
            						<paper-checkbox for ng-model="typeHouse" ng-click="updateHousingType()"></paper-checkbox>
            						<div>House</div>
            					</core-label>
            				</td>
            				<td>
            					<core-label horizontal layout center>
            						<paper-checkbox for ng-model="typeCondo"  ng-click="updateHousingType()"></paper-checkbox>
            						<div>Condo</div>
            					</core-label>
            				</td>
            			</tr>
            			<tr>
        					<td>
            					<core-label horizontal layout center>
            						<paper-checkbox for ng-model="typeTownhome" ng-click="updateHousingType()"></paper-checkbox>
            						<div>Townhome</div>
            					</core-label>
            				</td>
            				<td>
            					<core-label horizontal layout center>
            						<paper-checkbox for ng-model="typeApartment" ng-click="updateHousingType()"></paper-checkbox>
            						<div>Apartment</div>
            					</core-label>
            				</td>
            			</tr>
        			</table>

					<br></br>
        			<table style=
        				"background:transparent;
        				-webkit-box-shadow:none;
        				-moz-box-shadow:none;
        				box-shadow:none;">
        				<p>Pets:</p>
        				<tr>
        					<td>
            					<core-label horizontal layout center>
            						<paper-checkbox for ng-model="catsOk" ng-change="change()"></paper-checkbox>
            						<div>Cats</div>
            					</core-label>
            				</td>
            				<td>
            					<core-label horizontal layout center>
            						<paper-checkbox for ng-model="dogsOk" ng-change="change()"></paper-checkbox>
            						<div>Dogs</div>
            					</core-label>
            				</td>
            			</tr>
        			</table>
				</core-menu>
			</core-header-panel>
			<core-header-panel class = "content" main>
				<header>
					<h3>Housing Search Results</h3>
				</header>
				<div ng-repeat="property in properties" class="box allMargins5 content" horizontal layout>
					<div class="rightMargin5 content">
						property Image Here:{{property.imgUrl}}
					</div>
					<paper-item class="leftmargin5 content" flex>
						Address: {{property.address}} <br>
						Price: {{property.price}}
					</paper-item>
				</div>
			</core-header-panel>
		</core-drawer-panel>
</div>