<div>

    <body>
        <h1 style="text-align: center"> Create your account </h1>
        <form id="signup" ng-submit="canSubmit()" method="post" class="box signup content">
            <fieldset class="wrapper">
                <paper-radio-group selected="student" name="profile" ng-model="user.profileType" valueattr="name">
                    <paper-radio-button name="student" label="Student" ng-click="toStudent()"></paper-radio-button>
                    <paper-radio-button name="landlord" label="Landlord" ng-click="toLandlord()"></paper-radio-button>
                </paper-radio-group>
			</fieldset>
			<fieldset>
				<table>
					<tr>
						<td>
							<paper-input-decorator label="First Name*" floatingLabel>
								<input type="text" ng-model="user.firstName"></input>
							</paper-input-decorator>
						</td>
						<td>
							<paper-input-decorator label="Last Name*" floatingLabel>
								<input type="text" ng-model="user.lastName"></input>
							</paper-input-decorator>
						</td>
					</tr>
					<tr>
						<td>
							<paper-input-decorator label="Username*" floatingLabel>
								<input type="text" ng-model="user.username"></input>
							</paper-input-decorator>
						</td>
					</tr>
					<tr>
						<td>
							<paper-input-decorator label="Password*" floatingLabel>
								<input type="password" ng-model="user.password" ng-keyup="passMatch()"></input>
							</paper-input-decorator>
						</td>
						<td>
							<paper-input-decorator label="Password confirm*" floatinglabel>
								<input type="password" ng-model="user.passConfirm" ng-keyup="passMatch()"><br>
							</paper-input-decorator>
						</td>
					</tr>
					<tr>
						<td>
							<paper-input-decorator label="Email*" floatingLabel>
								<input type="text" ng-model="user.email"></input>
							</paper-input-decorator>
						</td>
						<td>
							<label ng-model="passConAlert" class="alert">{{passConAlert}}</label>
						</td>
					</tr>
					<tr>
						<td>
							<paper-input-decorator label="Phone Number" floatingLabel>
								<input type="text" ng-model="user.phone"></input>
							</paper-input-decorator>
						</td>
					</tr>
				</table>
				<div ui-view></div><br/>
				<label>* = required</label><br/>
				<label class="alert">{{alert}}</label>
			</fieldset>
			<footer>
				<button type="submit" is="paper-submit">Sign Up</button>
			</footer>
		</form>
	</body>
</div>
