<div>
    <core-header-panel>
        <core-toolbar>
            <paper-icon-button icon="menu" role="button" tabindex="0" aria-label="0">
            </paper-icon-button>
            <div>Search for Housing</div>
            <!--input type="text" placeholder='Search' flex></input-->
            <input type="text" placeholder='Search' ng-keypress="menuSearchEnter()" flex></input>
            <paper-button name="login" ng-click="toLogin()">Login</paper-button>
            <paper-button name="signup" ng-click="toSignUp()">Sign Up</paper-button>
        </core-toolbar>
        <br></br>
        <div ui-view></div>
    </core-header-panel>
</div>