<div>
	<body>
		<form id="simpleSearch" ng-submit="simpleSearch()" method="post" class="box simpleSearch content">
			<h3>Simple Search</h3><br>
			<table>
				<tr>
					<td>
						<paper-dropdown-menu label="Number of Bedrooms">
							<paper-dropdown class="dropdown core-transition core-closed">
								<core-menu class="menu" ng-model="bedrooms" valueattr="label">
									<paper-item class="core-selected" active label="1">1</paper-item>
									<paper-item class="core-selected" active label="2">2</paper-item>
								</core-menu>
							</paper-dropdown>
						</paper-dropdown-menu>
					</td>
					<td>
						<paper-dropdown-menu label="Number of Bathrooms">
							<paper-dropdown class="dropdown core-transition core-closed">
								<core-menu class="menu" ng-model="bathrooms" valueattr="label">
									<paper-item class="core-selected" active label="1">1</paper-item>
									<paper-item class="core-selected" active label="2">2</paper-item>
								</core-menu>
							</paper-dropdown>
						</paper-dropdown-menu>
					</td>
					<td>
						<paper-input-decorator label="Minimum Price" floatingLabel>
							<input type="text" ng-model="minPrice"></input>
						</paper-input-decorator>
					</td>
					<td>
						<paper-input-decorator label="Maximum Price" floatingLabel>
							<input type="text" ng-model="maxPrice"></input>
						</paper-input-decorator>
					</td>
				<!--location (city, address, zip code), price range, distance from campus-->
				</tr>
			</table>
		</form>
		<!--recent activity: pull data from server into scope with the controller.
			Will probably need to do an ng-repeat to go through a list of stuff.-->
		<fieldset class="box signup content">
			<ul ng-repeat-start="lease in favorites">
				<li>
					{{lease}}
				</li>
			</ul ng-repeat-end>
		</fieldset>
	</body>
</div>