<div>

    <body>
        <form class="form-inline" id="simpleSearch" ng-submit="simpleSearch()" method="post">
            <h3 class="text-center">Simple Search</h3>
            <table style="margin:5px auto 10px">
                <tr>
                    <td style="padding-right:10px">
                        <div class="form-group">
                            <label for="numBedrooms">Bedrooms</label>
                            <select ng-model="bedrooms" ng-options="value.id as value.label group by value.group for value in bedroomOptions" class="form-control">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </td>
                    <td style="padding-right:10px">
                        <div class="form-group">
                            <label for="numBathrooms">Bathrooms</label>
                            <select ng-model="bathrooms" ng-options="value.id as value.label group by value.group for value in bathroomOptions" class="form-control">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </td>
                    <td style="padding-right:10px">
                        <div class="input-group">
                            <div class="input-group-addon">From</div>
                            <input type="text" class="form-control" id="minprice" placeholder="$0" ng-model="minPrice">
                        </div>
                    </td>
                    <td style="padding-right:10px">
                        <div class="input-group">
                            <div class="input-group-addon">To</div>
                            <input type="text" class="form-control" id="maxPrice" placeholder="$$$$" ng-model="maxPrice">
                        </div>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-default" ng-click="simpleSearch()">Search</button>
                    </td>
                </tr>
            </table>
        </form>
        <hr>
        <div class="col-md-4">
            <header>
                <h3>Favorite Properties</h3>
            </header>
            <div class="content">
                <div ng-repeat="property in favorites" class="row">
                    <div class="panel panel-primary" align="center">
                        {{property.street}}
                        <br>
                        <font style="text-transform: capitalize;">{{property.city}}</font>,
                        <font style="text-transform: uppercase"> {{property.state}}</font>, {{property.zipcode}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7" style="border-left: 1px solid #cdd0d4;">
            <header>
                <h3>My Subleases</h3>
            </header>
            <div class="content row">
                <div class="panel panel-default" ng-repeat="property in subleases">
                    <div class="panel-heading" ng-click="goToProperty(property.propertyId)">
                        <h3 class="panel-title">{{property.street}} <font style="text-transform: capitalize;">{{property.city}}</font>,
                        <font style="text-transform: uppercase"> {{property.state}}</font>, {{property.zipcode}} </h3>
                    </div>
                    <div class="panel-body">
                        <table width="100%">
                            <tr>
                                <td>
                                    <p>Price: ${{property.price}}</p>
                                </td>
                                <td>
                                    <p>Housing Type: {{property.housingType}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Distance From Campus: GT {{property.distanceFromCampus.gt}} miles • GSU {{property.distanceFromCampus.gsu}} miles</p>
                                    <!-- <p>Owner Name: {{property.firstName property.lastName}}</p> -->
                                </td>
                                <td>
                                    <p>Bed/Bath: {{property.bedrooms}}/{{property.bathrooms}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button type="submit" class="btn btn-default pull-right" ng-click="addSublease()" ng-Hide="addingSublease">Add a sublease</button>
            </div>
        </div>
    </body>
</div>
