.box {
	background: #fefefe;
	border: 1px solid rgb(10, 10, 50);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px;
	box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px;
	margin: 5% auto 30px;
	overflow: hidden;
}

.content{
	margin: 5% auto 30px;
	overflow: hidden;
}

.alert{
	color:rgb(200,50,50);
}

.box h1, h2, h3{
	text-align:center;
}

.box.login{
	width: 380px;
}

.box.signup{
	width: 600px;
}

.table table {
	width: 100%;
	table-layout:fixed;
}
.table td > *{
	margin-right: 4px;
	margin-left: 4px;
}

.allMargins5{
	margin: 5px 5px 5px;
}

.leftMargin5{
	margin-left: 5px;
}

.rightMargin5{
	margin-right: 5px;
}